div.desc{
	border-style: transparent;
	width: 40%;
}
div.code{
	border-style: solid;
	width: 40%;
	float: left;
	white-space: pre;
}

div.input{
	float: left;
	margin-left: 10%;
}
.input input{
	margin-bottom: 10%;
}

