div.desc{
	border-style: transparent;
	width: 40%;
	margin-bottom: 3%;
}
div.result{
	border-style: transparent;
	width: 16%;
	height: 16%;
	margin-left: 42%;
}
div.code{
	border-style: solid;
	width: 40%;
	float: left;
	white-space: pre;

}

div.input{
	float: left;
	margin-left: 10%;
}
.input input{
	margin-bottom: 10%;
}

div.total{
	margin-left: 5%;
	margin-top: 2%;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}

#overlay {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 10;
    display  : none;
    text-align: center;
} 

#caixaResposta {
    margin-top: 20px;
    display: inline-block;
    border-radius: 25px;
    background: #808080;
    padding: 20px; 
    width: 300px;
    height: 150px; 
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 2px 0px #2b665e;
    color:#ffffff;
}
.caixaRespostaButton {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color:#768d87;
    -moz-border-radius:22px;
    -webkit-border-radius:22px;
    border-radius:22px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:19px 19px;
    text-decoration:none;
    text-shadow:0px 2px 0px #2b665e;
}
.caixaRespostaButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}
.caixaRespostaButton:active {
    position:relative;
    top:1px;
}